:root {
    color-scheme: light dark;
    --hue-offset: 0deg;
    filter: hue-rotate(var(--hue-offset));

    --white: #F1F1F1;
    --lightest: #E8E6ED;
    --pale-rgb: 201, 188, 226;
    --pale: rgba(var(--pale-rgb), 1);
    --accent: #AA99CC;
    --dark-muted: #262131;
    --dark: #221E2A;
    --darkets: #191520;

    --max-width: 1440px;
    --vh: 100dvh;

    --text-color: light-dark(var(--darkets), var(--lightest));
    --text-secondary: light-dark(var(--lightest), var(--dark-muted));
    --text-color-adaptive: var(--accent);

    --background-color: light-dark(var(--white), var(--darkets));

    --border: 2px;
    --border-radius: 12px;
    --border-color: light-dark(var(--pale), var(--dark-muted));
    --border-color-active: light-dark(var(--accent), var(--accent));

    --gap: 10px;
    --padding: 8px;
    --shadow-bottom: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);

    --h1: clamp(2rem, 8vw, 4rem);
    --h2: clamp(1.125rem, 5vw, 2rem);
    --h3: clamp(1.125rem, 4.5vw, 1.5rem);
    --h4: clamp(1rem, 4vw, 1.25rem);
    --h5: clamp(0.875rem, 3vw, 1rem);
    --h6: clamp(0.75rem, 2.5vw, 0.75rem);
    --p: clamp(0.875rem, 3vw, 1rem);
}

[data-hue-adaptive] {
    background-color: light-dark(var(--lightest), var(--dark-muted));
    filter: hue-rotate(calc(var(--hue-target, 0deg) - var(--hue-offset)));
}

[hidden] {
    display: none !important;
}

.color-none {
    filter: hue-rotate(calc(-1 * var(--hue-offset, 0deg))) !important;
}
